@import 'https://fonts.googleapis.com/css?family=Oswald';

body {
    font-family:'Oswald' ,sans-serif;
    background-color: #eee;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
